/* Barra de navegação */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  background-color: #052327d2;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
}

/* Estilo do menu hambúrguer */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger .line {
  height: 5px;
  width: 100%;
  background-color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Estilos para quando o menu está aberto */
.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -9px);
}

/* Estilo do menu */
.menu {
  display: none;
  position: fixed;
  top: 0; /* Ajuste para iniciar no topo */
  left: -250px; /* Menu inicialmente fora da tela (à esquerda) */
  background-color: #333;
  width: 250px;
  height: 100vh; /* Certifique-se de que o menu tenha 100% da altura da tela */
  padding-top: 50px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 99;
  transition: left 0.3s ease; /* Adicione uma transição para suavizar a animação */
}

.menu.open {
  display: block;
  left: 0; /* Quando aberto, posiciona o menu na tela */
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  padding: 20px;
  text-align: center;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: background-color 0.3s;
}

.menu ul li a:hover {
  background-color: #444;
}

/* Estilo do switch button */
.theme-toggle {
  margin-top: 20px;
  padding: 10px;
}

/* Estilizando o switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

/* Quando o switch está ativado */
input:checked + .slider {
  background-color: #4CAF50;
}

/* Quando o switch é clicado */
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Transições suaves de fundo e borda */
input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

/* Tema Claro */
body.light {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Tema Escuro */
body.dark {
  background-color: #092f34;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App {
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
}
