
@font-face {
    font-family: "Chillen";
    src: url("../public/fonts/Chillen.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


.banner{
    display: flex;
    justify-content: space-around;
    margin-top: 80px; /* Altura do navbar */
}

.title{
    width: 400px;
    font-size: 30px;
    
}
.title p{
    color: gray;
}
.title span{
    color: #2bb7d6;
    font-family: 'Chillen', sans-serif;
    
}


.action{
    width: 150px;
}






.profile img{
    width: 450px;
    height: 450px;
}