.sobre {
    margin-top: 200px;
    margin-right: 400px;
    margin-left: 400px;
    font-size: 1.5rem;
    margin-bottom: 200px;
}
.sobre p{
    color: gray;
}
.sobre h1{
    font-size: 3rem;
}








@media (max-width: 768px) {
    .sobre {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 1.3rem;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .sobre h1 {
        font-size: 2rem;
    }
}

/* Responsividade para telas extra pequenas (celulares muito pequenos) */
@media (max-width: 480px) {
    .sobre {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 1.2rem;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .sobre h1 {
        font-size: 1.8rem;
    }
}