.container-contato{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    align-content: center;
    justify-content: center;
    gap: 10px;
    
}

.div-contatos  {
    transition: opacity 105.3s ease-in-out;
}
#Contato{
    margin-top: 350px;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .container-contato {
        grid-template-columns: 100px 100px 100px; /* 3 colunas em telas médias */
    }
}

@media (max-width: 600px) {
    .container-contato {
        grid-template-columns: 100px 100px; /* 2 colunas em telas pequenas */
    }
}

@media (max-width: 400px) {
    .container-contato {
        grid-template-columns: 100%; /* 1 coluna em telas extra pequenas */
    }
}

.div-contatos {
    transition: opacity 105.3s ease-in-out;
}

#Contato {
    margin-top: 350px;
}

/* Responsividade para #Contato, caso necessário */
@media (max-width: 600px) {
    #Contato {
        margin-top: 200px; /* Diminui o topo em telas pequenas */
    }
}






