/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
    /* Navbar: ajusta a exibição em telas pequenas */
    .navbar {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    /* Menu hambúrguer visível e ajustado */
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 25px;
      cursor: pointer;
    }
  
    .hamburger .line {
      height: 5px;
      width: 100%;
      background-color: white;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  
    /* Menu vai para a esquerda e ocupa toda a altura da tela */
    .menu {
      left: -250px; /* Menu fora da tela inicialmente */
      width: 250px;
      height: 100vh;
      padding-top: 50px;
      
    }
  
    /* Mostrar menu quando a classe 'open' for adicionada */
    .menu.open {
      left: 0;
    }
  
    /* Itens do menu ajustados para telas menores */
    .menu ul {
      padding: 0;
      margin: 0;
    }
  
    .menu ul li {
      padding: 20px;
      text-align: center;
    }
  
    /* Ajustar o tamanho do texto */
    .menu ul li a {
      font-size: 18px;
    }
  
    /* Ajuste do switch para dispositivos móveis */
    .switch {
      width: 50px;
      height: 30px;
    }
  
    .slider {
      border-radius: 30px;
    }
  
    .slider:before {
      height: 22px;
      width: 22px;
      border-radius: 50%;
      left: 4px;
      bottom: 4px;
    }
  }
  
  @media (max-width: 480px) {
    /* Ajustes adicionais para telas menores (smartphones) */
    .menu {
      width: 200px; /* Menor largura do menu */
    }
  
    .menu ul li a {
      font-size: 16px; /* Reduzir o tamanho da fonte */
    }
  
    .hamburger .line {
      height: 4px; /* Ajustar a espessura das linhas do hambúrguer */
    }
  
    .switch {
      width: 45px;
      height: 25px;
    }
  
    .slider:before {
      height: 20px;
      width: 20px;
    }
  }